# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python code
*.pyc
*.pyo

# If Cython is permitted...
# some more exceptions here 
